@model  ML.Dependiente
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Formulario para registrar un Dependiente</h2>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Dependiente</h5>
            <h5>Empleado: @Model.Empleado.NumeroEmpleado</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Ingresa los datos del dependiente:</h5>
        </div>
        <hr />
    </div>
    <div class="container">
        @using (Html.BeginForm("Form", "Dependientes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.IdDependiente)
            @Html.HiddenFor(model => model.Empleado.NumeroEmpleado)
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => Model.Nombre)
                    @Html.TextBoxFor(model => Model.Nombre, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => Model.ApellidoPaterno)
                    @Html.TextBoxFor(model => Model.ApellidoPaterno, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => Model.ApellidoMaterno)
                    @Html.TextBoxFor(model => Model.ApellidoMaterno, new { @class = "form-control" })

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => Model.FechaNacimiento)
                    @Html.TextBoxFor(model => Model.FechaNacimiento, new { @class = "form-control", @type = "date", @Value = Model.FechaNacimiento.ToString("yyyy-MM-dd"), @min = "1900-01-01", @max = "9999-12-31" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.EstadoCivil)
                    <br />
                    @Html.RadioButtonFor(model => model.EstadoCivil, "Soltero")
                    <label class="form-check-label" for="flexRadioDefault1">
                        Soltero/Soltera
                    </label>

                    <br />
                    @Html.RadioButtonFor(model => model.EstadoCivil, "Casado")
                    <label class="form-check-label" for="flexRadioDefault1">
                        Casado/Casada
                    </label>
                    <br />
                    @Html.RadioButtonFor(model => model.EstadoCivil, "Divorciado")
                    <label class="form-check-label" for="flexRadioDefault1">
                        Divorciado/Divorciada
                    </label>

                    <br />
                    @Html.RadioButtonFor(model => model.EstadoCivil, "Viudo")
                    <label class="form-check-label" for="flexRadioDefault1">
                        Viudo/Viuda
                    </label>

                    <br />
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Genero)
                    <br />
                    @Html.RadioButtonFor(model => model.Genero, "H")
                    <label class="form-check-label" for="flexRadioDefault1">
                        Hombre
                    </label>

                    <br />
                    @Html.RadioButtonFor(model => model.Genero, "M")
                    <label class="form-check-label" for="flexRadioDefault1">
                        Mujer
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => Model.Telefono)
                    @Html.TextBoxFor(model => Model.Telefono, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => Model.RFC)
                    @Html.TextBoxFor(model => Model.RFC, new { @class = "form-control" })
                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-md-1">
                    <input type="submit" data-toggle="modal" class="btn btn-success " value="Guardar" />
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Cancelar", "GetDependiente", "Dependientes", new { @class = "btn btn-danger" })
                </div>
            </div>
        }
    </div>
</div>
